<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja Website</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .container img {
            margin: 20px;
            max-width: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="jinja-logo.jpg" alt="Jinja Logo">
        <img src="ansible-logo.png" alt="Ansible Logo">
        <h1>Welcome to Jinja Website with Ansible</h1>
        <p>This is a beautiful Webpage created by Matvey Guralskiy using Jinja and Ansible</p>
    </div>
</body>
</html>

